{
	"log": ["HTTP+"],
	"adminInterface": "0.0.0.0:4985", "interface": "0.0.0.0:4984",
	"CORS": {
	   "Origin": ["http://localhost:4200"],
	   "LoginOrigin": ["http://localhost:4200"],
	   "Headers": ["Content-Type"],
	   "MaxAge": 17280000
	 },
	"databases": {
		"db": {
			"unsupported": {
			  "user_views": {
				"enabled":true
			  }
			},
			"server": "http://couchbase-master-service.default.svc.cluster.local:8091",
			"bucket" : "db",
			"users": {
				"GUEST": {"disabled": false, "admin_channels": ["*"] }
			}
		}
	}
}
